.feedEkList {
    width:450px;
    list-style:none outside none;
    background-color:#FFFFFF;
    padding:4px 6px;
    color:#3E3E3E;
  }

.feedEkList li:last-child{
  border-bottom:none;
}

.itemTitle {
  margin-top:25px;
}

a{
  font-weight:bold;
  color:#33416a !important;
  text-decoration:none;
}

.itemTitle a:hover{
  text-decoration:underline;
}

.itemDate{
  font-size:11px;
  color:#a09f9f;
}

.itemContent, .itemContent h2, .itemContent p {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    letter-spacing: -.003em;
    margin:0px;
    line-height:1.2em;
}
